body { 
    margin-top: 10px;
    margin-left: 10px;
}

.table { 
    display: flex;
    flex-direction: row;

}

.table input {
    width: 50px;
    padding : 10px 20px;
    outline: none;
    
}

/* .table input {} */

.header {
    background-color: aquamarine;
}

.active {
    background-color: chartreuse;
}

.export_btn {
    width: 150px;
    height: 50px;
    background-color: aquamarine;
    border: none;
    border-radius: 10px;
}

.export_btn:hover {
    cursor: pointer;
}